<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FilterHashKey" type="CustomConfigApp.ConfigHelper, CustomConfigApp"/>
  </configSections>
  
  <FilterHashKey>
    <FilterKeys>
      <add key="722ACP" value="722ACP" />
      <add key="722ARI" value="722ARI" />
      <add key="722BIA" value="722BIA" />
      <add key="722MHI" value="722MHI" />
      <add key="722PSP" value="722PSP" />
      <add key="722TCP" value="722TCP" />
      <add key="722OCS" value="722OCS" />
      <add key="722KCD" value="722KCD" />
      <add key="722KRT" value="722KCD" />
    </FilterKeys>
  </FilterHashKey>
</configuration>