<?xml version="1.0"?>
<connectionStrings>
	<add name="PediatricNutrition" connectionString="Server=CONQUISTADOR-PC;Initial Catalog=PediatricNutrition;Integrated Security=True"
	 providerName="System.Data.SqlClient" />
</connectionStrings>

 public static string ConnectionStringDTADB
        {
            get
            {
                return ConfigurationManager.ConnectionStrings["DTAConnectionString"].ConnectionString;
            }
        }
		
<connectionStrings configSource="Local.config"/> in web.cofig