
 <configuration>
<connectionStrings configSource="ConnectionString.config"/>
</configuration> 
  
  in ConnectionString.config
  
<?xml version="1.0"?>
<connectionStrings>
	<add name="Declaration" connectionString="Server=HP;Initial Catalog=DeclarationPortal;Integrated Security=True"
	 providerName="System.Data.SqlClient" />
</connectionStrings>

string connStr = ConfigurationManager.ConnectionStrings["myConnectionString"].ConnectionString;